<section>
  <div class="services-two">
    <h1 id="services">Our Services</h1>
  </div>

  <div class="grid-container">
    <div class="box">
      <img src="../../../assets/img/services/service1.jpg" alt="" />
      <h2>Annual Service</h2>
    </div>
    <div class="box">
      <img src="../../../assets/img/services/service3.jpg" alt="" />
      <h2>Major Service</h2>

    </div>
    <div class="box">
      <img src="../../../assets/img/services/service2.jpg" alt="" />
      <h2>Repairs</h2>

    </div>
    <div class="box">
      <img src="../../../assets/img/services/service4.jpg" alt="" />
      <h2>Faults </h2>
    </div>
    <div class="box">
      <img src="../../../assets/img/services/service6.jpg" alt="" />
      <h2>Major Repairs</h2>

    </div>
    <div class="box">
      <img src="../../../assets/img/services/service5.jpg" alt="" />
      <h2>Vehicle Parts</h2>

    </div>

    
  </div>
</section>