

  <div class="services-two" id="about">
    <h1>About us</h1>
  </div>

  <div class="first-img">
    <img src="../../../assets/img/img 1.png" alt="" />
  </div>
  <div class="welcome">
    <h1>
      Welcome to Ger's
      <br />
      Garage
    </h1>
  </div>

  <div class="second-img">
    <img src="../../../assets/img/img2.png" alt="" />
  </div>

  <div class="services">
    <h2>Our Services</h2>

    <h3>Annual Service</h3>
    <h3>Major Service</h3>
    <h3>Repair/fault</h3>
    <h3>Major repair</h3>
  </div>

